@import "~bulma"

.img-shop
    padding: 5px

.img-shop :hover
    padding: 0px 


[data-badge]::after 
    display: inline-block
    position: absolute
    margin: 0
    padding: .1rem .25rem
    text-align: center
    white-space: nowrap
    line-height: 1
    background: $dark
    background-clip: padding-box
    border-radius: 0
    box-shadow: 0 0 0 1px #fff
    color: #fff
    content: attr(data-badge)
    z-index: 99
    border-radius: 290486px

[data-badge]::after 
    min-width: 1rem
    min-height: 1rem
    font-size: .75rem
    top: 0
    right: 0
    bottom: auto
    left: auto
    -webkit-transform: translate(50%,-50%)
    transform: translate(50%,-50%)
     
.img-hover-zoom--zoom-n-rotate .imgProduct 
  transition: transform 2s
  transform: scale(0.7)
  transition-timing-function: ease-in

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover .imgProduct 
  transform: scale(1)

.imgProduct
    animation-name: zoomIn
    animation-duration: 2s

@keyframes zoomIn 
    from
        opacity: 0.7
        transform: scale3d(0.5, 0.5, 0.8)

    50%
        opacity: 1
        transform: translate3d(0, 0, 0)

.productBox
    animation-duration: 2s
    animation-name: bounceOut

@keyframes bounceOut 
   0%
        opacity: 0
        transform: translate3d(0, 50%, 0)


   100%
        opacity: 1 
        transform: scale3d(1, 1, 1)

.fromleft
    animation-name: FromLeft
    animation-duration: 2.5s

@keyframes FromLeft 
    from
        opacity: 0.7
        transform: translate3d(100%, 0, 0)
    50%
        opacity: 1
        transform: translate3d(0, 0, 0)